@font-face {
  font-family: 'SDS';
  src: url(./fonts/BMEULJIROTTF.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
  
  font-family: 'SDA';
  src: url(./fonts/BMHANNAPro.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

.a{
  font-family: 'SDS';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  opacity: 1;
}

.textBox {
  font-family: 'SDS';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  position: fixed;
  bottom: 30px;
  right: 300px;
  color: aliceblue;
  width: 90px;
  height: 80px;
}

.profileButton {
  border: 0px solid black;
  height: 90px;
  width: 90px;
  position: fixed;
  top: 40px;
  right: 50px;
  border-radius: 60%;
  overflow: hidden;
  object-fit: none;
}

.b{
  font-family: 'SDA';
  src: url(./fonts/BMHANNAPro.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}

