@font-face {
  font-family: 'SDS';
  src: url(./fonts/BMEULJIROTTF.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

.a{
  font-family: 'SDS';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  opacity: 0.8;
}

.textBox {
  font-family: 'SDS';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  position: fixed;
  bottom: 30px;
  right: 300px;
  color: aliceblue;
  width: 90px;
  height: 80px;
}

.loginIcon {
  resize : contain;
  display: block;
  contain: content;
  position: fixed;
  top: 25px;
  right: 50px;
  border-radius: 60%;
  overflow: hidden;
  object-fit: cover;
}
