@font-face {
  font-family: 'SDS';
  src: url(./fonts/BMEULJIROTTF.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
    background-color: #ffffff;
  }
  .sidebar {
    background-color: #ffffff;
    border-right: 0px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.8s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
    opacity: 0.8;
    
    
  }
  .button {
    position: relative;
    left: 290px; 
    top: 30%;
    width: 70px;
    height: 220px;
    z-index: 99;
    transition: 0.6s ease;
    /* border: 0px solid #0c0c0c; */ /** 외곽선 스타일 **/
    border-radius: 90px;
    overflow: hidden;
    font-family: 'SDS';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    opacity: 0.8;

  }

  
  .openBtn {
    width: 60px;
    height: 60px;
    position: relative;
  }
  .content {
    padding: 40px 40px 0 20px;
    position: relative;
    width: 100%;
  }
  .icon {
    margin: 0;
    color: #abd5a1ba;
  }
 

