
.container {
    background-color: #ffffff;
  }
  .sidebar {
    background-color: #ffffff;
    border-right: 0px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 1s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
  }
  .button {
    position: relative;
    left: 295px; 
    top: 30%;
    width: 60px;
    height: 300px;
    z-index: 99;
    transition: 0.6s ease;
    border: 0px solid #0c0c0c;
    border-radius: 70px;
    overflow: hidden;

  }

  
  .openBtn {
    width: 60px;
    height: 60px;
    position: relative;
  }
  .content {
    padding: 40px 40px 0 20px;
    position: relative;
    width: 100%;
  }
  .icon {
    margin: 0;
    color: #abd5a1ba;
  }
 

